<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Crypto ICO admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, crypto ico admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>Account Login - Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template + Bitcoin Dashboard</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i|Comfortaa:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/icheck/custom.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-compact-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/account-login.css">
  </head>
  <body class="vertical-layout vertical-compact-menu 1-column  bg-full-screen-image menu-expanded blank-page blank-page" data-open="click" data-menu="vertical-compact-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <img id="loading" src="/img/loading.gif" style="display:none;top:40%;left:58%;position:fixed;z-index:99999" >
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="account-login" class="flexbox-container">    
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <!-- image -->
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
                        <div class="border-grey border-lighten-3 m-0 box-shadow-0 card-account-left height-400">
                            <img src="/app-assets/images/pages/account-login.png" class="card-account-img width-200" alt="card-account-img">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
                        <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">                
                            <div class="card-content">                    
                                <div id="noticmore" class="card-body p-3">
                                    <form id="loginsubmit" class="form-horizontal form-signin" action="/auth" method="GET">
                                        <br /><br /><br /><br /><br />
                                        <center>
                                            <h6 style="font-weight: 500 !important">you registered with Email</h6>
                                            <h5 style="color: #ff0000;font-weight: 1100 !important"><b><%=email%></b></h5>
                                            <h6 style="font-weight: 500 !important">please check your email exactly before transaction.</h6>
                                        </center>
                                        <input type="hidden" name="token" value="<%=token%>" >
                                        <button id="btnlogin" type="submit" class="btn-gradient-primary btn-block my-1">Ok</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </section>
        </div>
      </div>
    </div>
    <script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <script src="/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="/app-assets/js/scripts/forms/form-login-register.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js"></script>
  </body>
</html>