<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>LTR Token - 全球彩票服务</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/main/images/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

<link href="/main/css/bootstrap.min.css" rel="stylesheet">
<link href="/main/css/bootstrap-grid.css" rel="stylesheet">

<link href="/main/css/font-awesome.min.css" rel="stylesheet">
<link href="/main/css/flaticon.css" rel="stylesheet">
<link href="/main/css/font-icons.css" rel="stylesheet">

<script src="/main/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/main/css/animate.css">

<link rel="stylesheet" type="text/css" href="/main/css/flipclock.css">

<link rel="stylesheet" type="text/css" href="/main/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/main/css/owl.theme.default.min.css">

<link href="/main/css/style.css" rel="stylesheet">
<link href="/main/css/color2.css" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123076561-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-123076561-1');
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P2BH6G6');</script>
	<!-- End Google Tag Manager -->
</head>
<script>
	function changelg(type){
		if (type==0){
			window.location.href="/";
		}else
		if (type==1){
			window.location.href="/?lang=cn";
		}else
		if (type==2){
			//window.location.href="/?lang=vn";
		}
	}
	function wp(type){
		if (type==0){
			window.location.href="/main/whitepaper-en.pdf";
		}else
		if (type==1){
			window.location.href="/main/whitepaper-cn.pdf";
		}else
		if (type==2){
			window.location.href="/main/whitepaper-vn.pdf";
		}
	}
</script>
<body data-spy="scroll" data-target=".navbar">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2BH6G6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<!-- ======================================= 
    ==Start nav section==  
    =======================================-->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top nav-base dark" id="minify_nav">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img class="toggle-logo logo-white" src="/main/images/logo.png" alt="">			
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
										<div class="dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											白皮书<span class="caret"></span>
										</a>
										  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<button class="dropdown-item" type="button" onclick="wp(0);">English</button>
											<button class="dropdown-item" type="button" onclick="wp(1);">中国</button>
											<button class="dropdown-item" type="button" onclick="wp(2);">Tiếng Việt</button>											
										  </div>
										</div>
											
					</li>
					<li class="nav-item"><a class="nav-link" href="#about">关于<span class="sr-only"></span></a></li>
					<li class="nav-ite"><a class="nav-link" href="#start">开始吧<span class="sr-only"></span></a></li>					
					<li class="nav-item"><a class="nav-link" href="#ico">分配</a></li>
					<li class="nav-item"><a class="nav-link" href="#roadmap">路线图<span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link" href="#team">球队</a></li>
					<li class="nav-item"><a class="nav-link" href="/sign-in">登录</a></li>
					<li class="nav-item"><a class="nav-link special" href="/sign-up">寄存器</a></li>					
					<li class="nav-item">
										<div class="dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-globe" aria-hidden="true"></i>&nbsp;en&nbsp;&nbsp;<span class="caret"></span>
										</a>
										  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<button class="dropdown-item" type="button" onclick="changelg(0);">English</button>
											<button class="dropdown-item" type="button" onclick="changelg(1);">中国</button>											
										  </div>
										</div>
											
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<!-- ======================================= 
    ==End nav section==  
    =======================================-->


	<!-- ======================================= 
    ==Start main header section==  
    =======================================-->
	<section class="main-header demo1" style="overflow:hidden" id="main">
		<div class="home-cont">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-6 col-md-12 ">
						<div class="main-header-sub sub text-left">
							<div class="content-text" style="z-index:996;">
								<h1>LTR Token - 全球彩票服务</h1>
								<h3>
									<a href="https://icoholder.com/en/lottery-24487" target="_blank" ><img class="img-responsive" src="/main/images/24487.widget.svg" style="width:100px;height:100px;"></a>
									&nbsp;<a href="https://icobazaar.com/v2/lotter" target="_blank" ><img class="img-responsive" src="/main/images/icobaza.svg" style="width:100px;height:100px;"></a>
								</h3>
								<div class="current-ico-bouns">
									<a href="#" class="buy-now"><i class="fa fa-shopping-cart"></i></a>
									<div class="bouns-progress">
										<ul class="bouns-labels-list list-unstyled list-inline">											
											<li>
												<h4>01 八月 - 31 八月</h4>
												<h4><small class="color2">50% 奖金</small></h4>
											</li>
											<li>
												<h4>01 九月 - 30 九月</h4>
												<h4><small class="color3">40% 奖金</small></h4>
											</li>
											<li>
												<h4>01 十月  - 31 十月</h4>
												<h4><small class="color3">30% 奖金</small></h4>
											</li>
											<li>
												<h4>01 Nov  - 30 Nov</h4>
												<h4><small class="color3">20% 奖金</small></h4>
											</li>
											<li>
												<h4>01 Dec  - 31 Dec</h4>
												<h4><small class="color3">10% 奖金</small></h4>
											</li>
											<li>
												<h4>01 Jan - 31 Jan</h4>
												<h4><small class="color1">5% 奖金</small></h4>
											</li>
										</ul>
										<div class="progress">
											<div class="progress-bar bg-color1" role="progressbar" style="width: 19%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
											<div class="progress-bar bg-color2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
											<div class="progress-bar bg-color3" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="current-ico-bouns buttons">
									<div class="bouns-progress text-center">
										<a href="/buyico" class="special-btn text-center">现在购买令牌</a>
										<a href="#" onclick="wp(1);" class="special-btn text-center">白皮书</a>
									</div>
								</div>
								

							</div>
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 col-md-12">
						<div class="counter-down">

							<div class="content">
								<div class="conuter-header">
									<h3 class="text-center">0.0005 usd=1 LTR Token<br>50％销售结束</h3>
									<h6 class="text-center"><i>我们接受投资 Ethereum</i></h6>
								</div>
								<div class="counterdown-content">
									<div class="clock-wrapper">
										<div class="clock"></div>
									</div>
									<div class="ico-sales-status mt30 mb-30 o-hidden">
										<div class="pull-left">
											<h3 class="dollar-earning" id=total_usd>...</h3>
											<h4 style="padding-left:10px" id=total_investor>..投资者</p>
										</div>
										<div class="pull-right">
											<h3 class="btc-earning" id=total_eth>... <span>ETH</span></h3>
											<p>ETH 上调</p>
										</div>
									</div>
									<div class="ico-progress">
			                           <ul class="list-unstyled list-inline clearfix mb-10">
			                              <li class="title">10m</li>
			                              <li class="strength">30m</li>
			                           </ul>
			                           <!-- skill strength -->
			                           <div class="current-progress">
			                              <div class="progress-bar has-gradient" style="width: 1%" id=total_percent></div>
			                           </div>
			                           <span class="pull-left">180 天的 Softcap</span>
			                           <span class="pull-right">LTR Hardcap</span>
			                        </div>
			                        <div class="buy-tokens-wrapper text-center mt30 o-hidden">
			                        	<a href="/buyico" class="buy-tokens has-gradient">购买 LTR 令牌</a>
			                        </div>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="round-header-circle hidden-sm hidden-xs">
			<div class="round-animate">
				<div class="round-1">
					<span class="r-1"></span>
					<span class="r-2"></span>
					<span class="r-3"></span>
					<span class="r-4"></span>
				</div>
				<div class="round-2">
					<span class="r-1"></span>
					<span class="r-2"></span>
					<span class="r-3"></span>
					<span class="r-4"></span>
				</div>
				<div class="round-3">
					<span class="r-1"></span>
					<span class="r-2"></span>
					<span class="r-3"></span>
					<span class="r-4"></span>
				</div>
			</div>
		</div>
	</section>
	<!-- ======================================= 
    ==End main header section==  
    =======================================-->
	<script>
		var eth=0;
		function getTotal(){		   
			var xmlhttp = new XMLHttpRequest();			
			var url = "https://ltrcoin.com/api/get_sum_ETH_Total_Email_Buy_LTR";			
			xmlhttp.onreadystatechange = function() {
			//alert(this.status+","+this.readyState);
			if (this.readyState == 4) {// && this.status == 200
				//alert(this.responseText);
				var myArr = JSON.parse(this.responseText);
					var rs=myArr.TotalETH;	
					var investors=myArr.TotalEmailBuyLTR;					
					eth=rs;
					$("#total_eth").html(eth.toFixed(1)+"<span>ETH</span>");
					$("#total_investor").html(investors+"<span> 投资者</span>");
					
					getEthPrice(eth);
				}
			};
			
			xmlhttp.open("GET", url, true);
			xmlhttp.send();
			
		}
		function getEthPrice(eth){
			var xmlhttp = new XMLHttpRequest();
			var url = "https://api.coinmarketcap.com/v2/ticker/1027/";
			
			xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var rs = JSON.parse(this.responseText);
					var price=rs.data.quotes.USD.price;
					var total_usd=eth*price;
					var percent=(total_usd*100)/10000000;
					if (percent<1) percent=1;
					$("#total_percent").css("width",percent+"%");
					$("#total_usd").html(total_usd.toFixed(2)+" usd");
				}
			};
			xmlhttp.open("GET", url, true);
			xmlhttp.send();
		}
		getTotal();
	</script>
	<!-- ======================================= 
    ==Start money-exchange section==  
    =======================================-->
	<section class="money-exchange" id="about">

	<img class="bg-shape-bot" src="/main/svg/homepage_bg.svg" alt=" bg bottom">
	    <div class="container">
	        <div class="row flex-md-row-reverse">
	            <div class="col-md-6">
	                <div class="money-exchange-right">
	                    <h2 data-aos="fade-up" class="">LTR 提供解决方案</h2>
	                    <p data-aos="fade-up" class="">LTR 是以区块链技术的基础提供帮助购买及网络彩票的服务。</p>
	                    <ul class="s-list list-unstyled mb-20">		
							<li><span class="fa fa-check"></span>帮助购买彩票（通过区块链技术的编码代币及通过智能合约是LTR代币</li>
							<li><span class="fa fa-check"></span>彩票在线, 通过LTR 令牌付款，通过比特币（BTC）支付赢家奖金</li>							
							<li><span class="fa fa-check"></span>选择美国和欧洲国家的彩票然后注册想买的彩票号码。</li>
							<li><span class="fa fa-check"></span>造出区块链信息并且这个区块链信息不可修改，也经过区块链网络</li>
							<li><span class="fa fa-check"></span>的所有成员确认及证明你已购买的彩票的存在历史</li>
							<li><span class="fa fa-check"></span>通过LTR 编码代币的支付</li>
						</ul>
	                </div>
	                
	            </div>
	            <div class="col-md-6">
	                <div class="money-exchange-left" >
	                	<img style="max-height: 798px" class="center-block img-responsive" src="/main/images/banner.png" alt="Phone">
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- ======================================= 
    ==End money-exchange section==  
    =======================================-->
	
    <!-- ======================================= 
    ==Start Our services section==  
    =======================================-->
	<section class="our-services" style="padding-bottom:70px" id="start">
		<div class="container">
			<div class="title-box">
				<h2 class="title-center">如何开始</h2>
				<p class="description text-center">你需要预备 ETH 来自交换 要么 Ethereum Wallet (https://www.myetherwallet.com)</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-service-item">
					
						<span class="top-border"></span>
	                    <span class="right-border"></span>
	                    <span class="bottom-border"></span>
						
						<div class="service-left-bg"></div>
						<div class="service-icon">
							<img class="icon center-block" src="/main/images/icons/feature-1.svg" alt="">
						</div>
						<div class="service-text">
							<h4><a href="/sign-up">建立新帐户</a></h4>
							<p>在菜单中，点击注册或点击此处 <a href="/wallet">建立新帐户</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-service-item">
					
						<span class="top-border"></span>
	                    <span class="right-border"></span>
	                    <span class="bottom-border"></span>
						
						<div class="service-left-bg"></div>
						<div class="service-icon">
							<img class="icon center-block" src="/main/images/icons/feature-2.svg" alt="">
						</div>
						<div class="service-text">
							<h4><a href="/sign-in">填写你的个人资料</a></h4>
							<p>填写你的电子邮件，电话号码，国家</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-service-item">
					
						<span class="top-border"></span>
	                    <span class="right-border"></span>
	                    <span class="bottom-border"></span>
						
						<div class="service-left-bg"></div>
						<div class="service-icon">
							<img class="icon center-block" src="/main/images/icons/feature-3.svg" alt="">
						</div>
						<div class="service-text">
							<h4><a href="/buyico">开始购买和销售</a></h4>
							<p>登录和转移 ETH 从水电部 MEW（或交换）到 LTR Wallet 并在 LTR WALLET 处收到您的令牌</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>	
	</section>
	<!-- ======================================= 
    ==End our sevices section==  
    =======================================-->

	<div class="clearfix"></div>

    

    <!-- ======================================= 
    ==Start ICO Distribution section==  
    =======================================-->
	<section class="ico-distribution" style="padding-bottom:70px" id="ico">
		<div class="container">
			<div class="title-box">
				<h2 class="title-center">LTR ICO 分配</h2>
				<p class="description text-left">
					ICO将开放销售30.000.000.000令牌<br>
					剩余的70.000.000.000将在1年内冻结，预期的令牌分配如下：<br>
					
						- <b>14亿美元:</b><i> 加密资产交换清单费（HitBtc，CoinEx，Cryptopia等），公司运营费（服务器，工资，办公室租用......），营销和Pr彩票应用费</i><br>
						- <b>10亿：</b><i> 通过赏金和空投计划为每个人送礼 </i><br>
						<i>
						   - <b>奖金基金将使用55亿美元：</b>
						</i><br> 	
								<b>&nbsp;&nbsp;&nbsp;&nbsp;+40亿美元:</b> <i>特殊奖金价值40亿美元的LTR代币等于4000万美元(1 LTR = 0.001 usd)</i><br>
								<b>&nbsp;&nbsp;&nbsp;&nbsp;+15亿美元：</b><i> 剩余的15亿美元用于奖励保险</i><br>
				</p>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xs-12 ">
                    <!--<img src="/main/images/chart.png" class="pie"-->
                    <div id="container"></div>
                    <div class="center-values">
                        <span class="phx trix">LTR</span><br>
                        <b class="margin-btm" style="font-size:10px;">30,000,000,000 </b>
                        <span class="phx">总供应量</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 progress-div">
                    <!-- Blue -->
                    <h6 class="angle-round">公开销售奖励 <span style="margin-left: 78px; color:#ccc;">01-08-2018</span><span class="number">7,000,000,000 LTR</span></h6>
                    <div class="progress progress-cls">
                      <div class="progress-bar background-one" style="width:50% !important;">0.0005 $</div>
                    </div>
                    
                    <!-- Green -->
                     <h6 class="angle-round">阶段 1 <span style="margin-left: 126px; color:#ccc;">01-09-2018</span><span class="number">6,000,000,000 LTR</span></h6>
                    <div class="progress progress-cls">
                      <div class="progress-bar background-two" style="background-color: #ecaa38 !important;width:60% !important;">0.0006 $</div>
                    </div>
                    
                    <!-- Turquoise -->
                     <h6 class="angle-round">阶段 2 <span style="margin-left: 126px; color:#ccc;">01-10-2018</span><span class="number">5,000,000,000 LTR</span></h6>
                    <div class="progress progress-cls">
                      <div class="progress-bar background-three" style="background-color: #ef8b2c !important;width:70% !important;">0.0007 $</div>
                    </div>
                    
                    <!-- Orange -->
                     <h6 class="angle-round">阶段 3 <span style="margin-left: 126px; color:#ccc;">01-11-2018</span><span class="number">4,000,000,000 LTR</span></h6>
                    <div class="progress progress-cls">
                       <div class="progress-bar" style="background-color:#f16c20 !important;width:80% !important;">0.0008 $</div>
                    </div>
                    
                    <!-- Red -->
                     <h6 class="angle-round">阶段 4 <span style="margin-left: 126px; color:#ccc;">01-12-2018</span><span class="number">3,000,000,000 LTR</span></h6>
                    <div class="progress progress-cls">
                      <div class="progress-bar" style="background-color:#d94e1f !important; width:90% !important;">0.0009 $</div>
                    </div>
                    
                    <!-- Red -->
                     <h6 class="angle-round">阶段 5 <span style="margin-left: 126px; color:#ccc;">01-01-2019</span><span class="number">5,000,000,000 LTR</span></h6>
                    <div class="progress progress-cls">
                      <div class="progress-bar" style="background-color:#c02e1d !important; width:95% !important;">0.00095 $</div>
                    </div>
                </div>
			</div>
		</div>	
	</section>
	<!-- ======================================= 
    ==End ICO distribution section==  
    =======================================-->    

    <div class="clearfix"></div>
	
	<div class="two-wrapper" id="close" style="background-position-y: -100px;">
        <!-- ======================================= 
    	==Start Roadmap section==  
    	=======================================-->
		<section class="roadmap" style="padding-bottom:0" id="roadmap">
			<div class="title-box">
				<h2 class="title-center">LTR ICO 路线图</h2>
				<p class="description text-center">LTR服务发展的路线图</p>
			</div>
			<div class="container">
	        	<div class="row">
	            	<div class="timeline-split">
                    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
                        <div class="timeline section-box-margin">
                            <div class="block block-left">
                               <h3>第1阶段（2018年）：LTR开发</h3>
                               <span> 2018年8月1日至2019年1月1日</span>
                               <p>发行ICO - 筹集资金在ERC 20平台上启动LTR令牌项目 - （2018年8月1日至2019年1月31日）</p>
                            </div>

                            <div class="block block-right mt-30">
                               <h3>构建应用程序（Web，App）</h3>
                               <span>帮助人们从美国，欧洲购买彩票...... </span>
                               <p>建立一个网站，用LTR代币购买彩票（2018年8月1日至2019年1月31日）</p>
								<p> 2018年8月26日：Lauched alpha测试版MVP </p>
								<p> 2018年10月16日：推出beta测试版MVP </p>
								                            </div>
								<div class="block block-left mt-30">
								                               <h3>第二阶段（2019年1月1日）：午餐应用程序和网上购买彩票</h3>
								                               <span>购买Ltr Token的彩票并获得BTC，ETH，LTR的奖品</span>
								                               <p>使用LTR购买BuyLottery.org的产品和服务</p>
								                            </div>
								                            <div class="block block-right mt-30">
								<h3>第3阶段（2019年起）：彩票服务全球</h3>
								                               <span> 2019年1月16日：开始与亚洲，欧洲和美国的大型彩票合作伙伴谈判并签订合同</span>
								<p> 2019年2月15日：在内部或国际加密货币交易平台上购买ltr令牌</ p>
								                               <p> 2019年4月18日：通过网络和应用程序在亚洲，欧洲和美洲国家购买彩票</p>
								<p> 2019年5月1日：LTR从ETH开始构建平台X fork并构建内部加密货币交换令牌</ p>
                            </div>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
	            </div>
	        </div>
		</section>
		<!-- ======================================= 
    	==End Roadmap section==  
   	 	=======================================-->
		

		<!-- ======================================= 
    	==Start Features section==  
    	=======================================-->
		<section class="o-hidden">
			<div class="container-fluid">
				<div class="row">
					<div class="services-column col-lg-5 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
	                    <!--Services Block Four-->
	                    <div class="services-block-four">
	                        <div class="inner-box">
	                            <div class="icon-box">
	                                <span class="icon flaticon-target"></span>
	                            </div>
	                            <h3>ICO仪表板</h3>
	                            <div class="text">在仪表板中，您可以管理您的ltr令牌，或发送到eth钱包以保存令牌.</div>	                            
	                        </div>
	                    </div>

	                    <!--Services Block Four-->
	                    <div class="services-block-four">
	                        <div class="inner-box">
	                            <div class="icon-box">
	                                <span class="icon flaticon-speedometer"></span>
	                            </div>
	                            <h3>对于未来的全球彩票</h3>
	                            <div class="text">我们想为世界创造一个大型彩票，大奖金，十亿或百万美元</div>
	                        </div>
	                    </div>
	                    
	                    <!--Services Block Four-->
	                    <div class="services-block-four">
	                        <div class="inner-box">
	                            <div class="icon-box">
	                                <span class="icon flaticon-cogwheel" style="font-weight: 600;"></span>
	                            </div>
	                            <h3>超级易玩和使用</h3>
	                            <div class="text">轻松注册帐户和购买彩票购买硬币（英国广播公司，eth,ltr令牌）</div>
	                        </div>
	                    </div>
	                    
                	</div>
                	<div class="service-img-wrapper col-lg-6 col-md-12 col-sm-12">
                		<div class="image-box">
							<div align="center" class="embed-responsive embed-responsive-16by9">
								<iframe width="100%" height="100%" src="https://www.youtube.com/embed/lD4nBQ4jPDk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
                	</div>
				</div>
			</div>
		</section>
		<!-- ======================================= 
    	==End Features section==  
    	=======================================-->

	</div>

	<!-- ======================================= 
	==Start banner section==  
	=======================================-->
    <section class="intro o-hidden no-padding-top">
        <div class="container">
        	<div class="intro-wrapper has-gradient o-hidden">
        		<div class="single-info-item col-md-3 col-xs-12">        
                    <div class="info-icon">
                        <img src="/main/images/icons/1.png" class="center-block" alt="">
                    </div>
                    <div class="info-text">
                        <h3><a href="#">安全钱包</a></h3>
                        <p>安全和安全的LTR钱包</p>
                    </div>
                </div>
                <div class="single-info-item col-md-3 col-xs-12">        
                    <div class="info-icon">
                        <img src="/main/images/icons/2.png" class="center-block" alt="">
                    </div>
                    <div class="info-text">
                        <h3><a href="#">即时交换</a></h3>
                        <p>快速而准确</p>
                    </div>
                </div>
                <div class="single-info-item col-md-3 col-xs-12">        
                    <div class="info-icon">
                        <img src="/main/images/icons/3.png" class="center-block" alt="">
                    </div>
                    <div class="info-text">
                        <h3><a href="#">令牌交易</a></h3>
                        <p>您可以在列表交换上买卖ltr令牌</p>
                    </div>
                </div>
                <div class="single-info-item col-md-3 col-xs-12">        
                    <div class="info-icon">
                        <img src="/main/images/icons/4.png" class="center-block" alt="">
                    </div>
                    <div class="info-text">
                        <h3><a href="#">加密投资</a></h3>
                        <p>LTR Token是长期良好的投资</p>
                    </div>
                </div>
        	</div>
        </div>
    </section>
    <!-- ======================================= 
	==End banner section==  
	=======================================-->
	
	<div class="clearfix"></div>

	<!-- ======================================= 
    ==Start Testimonials section==  
    =======================================-->
<!--
    <section class="testimonial" id="testimonial">
    	<div class="title-box">
			<h2 class="title-center">What our clients say</h2>
			<p class="description text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur possi mus quod nemo. elit. Pariatur possimus quod nemo.</p>
		</div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4 col-sm-6 col-xs-12">
	                <div class="testimonial-item">
	                    <div class="content">
	                        <span class="fa fa-quote-left"></span>
	                        <p>One of the best creative template on themeforest, made by creative minds! nice design, clean code and easy to use</p>

	                        <ul class="rating">
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                        </ul>
	                    </div>
	                    <div class="author">
	                        <ul class="list-inline">
	                            <li>
	                                <img src="/main/images/testimonials/testi-image-1.jpg" alt="">
	                            </li>
	                            <li>
	                                <h3>by Adi12341</h3>
	                                <p>Unitef Kingdom</p>
	                            </li>
	                        </ul>
	                    </div>
	                </div>     
	            </div>

	            <div class="col-md-4 col-sm-6 col-xs-12">
	                <div class="testimonial-item">
	                    <div class="content">
	                        <span class="fa fa-quote-left"></span>
	                        <p>The support team are very professional and friendly, I just got amazed at how quickely they response, they are the best</p>

	                        <ul class="rating">
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                        </ul>
	                    </div>
	                    <div class="author">
	                        <ul class="list-inline">
	                            <li>
	                                <img src="/main/images/testimonials/testi-image-2.jpg" alt="">
	                            </li>
	                            <li>
	                                <h3>by maks18011</h3>
	                                <p>Russia Federation</p>
	                            </li>
	                        </ul>
	                    </div>
	                </div>     
	            </div>

	            <div class="col-md-4 col-sm-6 col-xs-12">
	                <div class="testimonial-item">
	                    <div class="content">
	                        <span class="fa fa-quote-left"></span>
	                        <p>Excellent quality overall and high attention to details, I have no compliants about this template and would recommend it</p>

	                        <ul class="rating">
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                            <li class="fa fa-star"></li>
	                        </ul>
	                    </div>
	                    <div class="author">
	                        <ul class="list-inline">
	                            <li>
	                                <img src="/main/images/testimonials/testi-image-3.jpg" alt="">
	                            </li>
	                            <li>
	                                <h3>by rionneJMS</h3>
	                                <p>Japan</p>
	                            </li>
	                        </ul>
	                    </div>
	                </div>     
	            </div>
    		</div>
    	</div>
    </section>
	-->
    <!-- ======================================= 
    ==End Testimonials section==  
    =======================================-->


	<!-- ======================================= 
    ==Start team section==  
    =======================================-->

    <section class="team features" id="team">
    	<div class="title-box">
			<h2 class="title-center">遇见了很棒的团队</h2>
			<p class="description text-center">拥有专业的技术专家和全球营销</p>
		</div>
    	<div class="container">
    		<div class="row">
    			
		     	<div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/giovanni.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Giovanni</h3>
							<h6>顾问 <a href="https://icobench.com/u/giovanni-casagrande" target="blank"><img class="img-responsive center-block" src="main/images/icobench.png" alt=""></a></h6>
							<ul class="social-icons list-inline list-unstyled"> 
								<li><a href="https://twitter.com/giannicasa" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
								<li><a href="https://www.linkedin.com/in/giovanni-casagrande-%E2%9C%85-219a68159/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
							</ul>
                        </div>
                        <p class="mb20">IcoBench Expert, 博洛尼亚大学硕士，Black Marketing Guru的联合创始人，意大利第一个成长黑客机构。</p>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/giacomo.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Giacomo Arcaro</h3>
							<h6>顾问 <a href="https://icobench.com/u/giacomo-arcaro" target="blank"><img class="img-responsive center-block" src="main/images/icobench.png" alt=""></a></h6>
							<ul class="social-icons list-inline list-unstyled">                          
                            <li><a href="https://twitter.com/giacomoarcaro" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>                            
                            <li><a href="https://www.linkedin.com/in/giacomo-arcaro-crypto/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">IcoBench Expert, Black Marketing Guru 的联合创始人，他是英国“金融时报”，IlSole24Ore和洛杉矶时报上最重要的欧洲增长黑客之一</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/manuel.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Manuel Arlotti</h3>
							<h6>顾问 <a href="https://icobench.com/u/manuel-arlotti" target="blank"><img class="img-responsive center-block" src="main/images/icobench.png" alt=""></a></h6>
							<ul class="social-icons list-inline list-unstyled">
                            <li><a href="https://twitter.com/ManuelArlotti" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>                            
                            <li><a href="https://www.linkedin.com/in/arlottimanuel/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">IcoBench Expert, TOP＃100欧洲工业的销售和营销顾问。 ＃120最受关注的是LinkedIn Europe，ICO大使和TOP＃3意大利ICO的顾问</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/tonini.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Gianmarco Tonini</h3>
							<h6>顾问</h6>
							<ul class="social-icons list-inline list-unstyled">                                                        
                            <li><a href="https://www.linkedin.com/in/gianmarco-tonini/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">对数据和市场营销的热情，在过去的两年里，Gianmarco一直专注于为ICO和Cryptocurrencies创建可操作的数据驱动数字战略，为最佳欧洲增长黑客公司担任首席信息官</p>
                        
                    </div>
                </div>		        
    		</div>
    		<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/jaymin.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Jaymin Shah</h3>
							<h6>顾问</h6>
							<ul class="social-icons list-inline list-unstyled"> 
							<li><a href="https://twitter.com/JayminSOfficial/" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>                            							
                            <li><a href="https://www.linkedin.com/in/jayminshahofficial/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
							</ul>
                        </div>
                        <p class="mb20">科技企业家，赫芬顿邮报的作家，作为一名作家的科技媒体世界，不懈地报道TechOptimals的技术，创始人兼首席执行官</p>
                        
	                    </div>
	                </div>
			     	<div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/huy.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Nguyen Huy</h3>
							<h6>首席执行官</h6>
							<ul class="social-icons list-inline list-unstyled"> 							
                            <li><a href="https://www.linkedin.com/in/huy-nguyen-46008249/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">技术专家，16年软件开发经验，区块链专家。技术与管理大学在线培训学院 副主任</p>
                        
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
	                            <img class="img-responsive center-block" src="main/images/bach.jpg" alt="">
	                        </div>
	                        <div class="team-info">
	                            <h3>Nguyen Bach</h3>
								<h6>首席运营官</h6>
								<ul class="social-icons list-inline list-unstyled"> 							
								<li><a href="https://www.linkedin.com/in/bach-nguyen-xuan-b66b41169" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
							</ul>
	                        </div>
	                        <p class="mb20">14年产品和服务开发经验，战略实践专业，市场研究和机会，业务计划，预算和损益，客户概况和价值主张，协调员和员工/工作计划管理。</p>
	                        
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
	                            <img class="img-responsive center-block" src="main/images/quynh.jpg" alt="">
	                        </div>
	                        <div class="team-info">
	                            <h3>Le Quynh</h3>
								<h6>BlockChain开发人员</h6>
								<ul class="social-icons list-inline list-unstyled"> 							
								<li><a href="https://www.linkedin.com/in/quynhbkhn/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
							</ul>
	                        </div>
	                        <p class="mb20">高级全栈开发人员，BlockChain开发人员，数学与计算机科学学士</p>
	                        
	                    </div>
	                </div>
					
		        
    		</div>
			<div class="row">    			
			     	<div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
	                            <img class="img-responsive center-block" src="main/images/cisterni.jpg" alt="">
	                        </div>
	                        <div class="team-info">
	                            <h3>Carlotta Cisterni</h3>
								<h6>艺术总监兼媒体管理</h6>
								<ul class="social-icons list-inline list-unstyled">
								<li><a href="https://www.linkedin.com/in/carlotta-cisterni-05a69760/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
	                        </ul>
	                        </div>
	                        <p class="mb20">Carlotta是一位跨媒体艺术家，专注于漫画/图形，短篇小说/插图和视频。她是舞台设计大师，并在圣马力诺大学完成学业。
							</p>
	                        
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
	                            <img class="img-responsive center-block" src="main/images/Riya.jpg" alt="">
	                        </div>
	                        <div class="team-info">
	                            <h3>Riya Jain</h3>
								<h6>社区专家</h6>
								<ul class="social-icons list-inline list-unstyled"> 
								<li><a href="https://twitter.com/riyajain022" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>                            							
								<li><a href="https://www.linkedin.com/in/riyajain022/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
								</ul>
	                        </div>
	                        <p class="mb20">经验丰富的编辑，具有在印刷和在线媒体行业工作的历史。 熟练掌握新闻写作，编辑，专题写作，媒体关系和新闻</p>
	                        
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
	                            <img class="img-responsive center-block" src="main/images/jay.jpg" alt="">
	                        </div>
	                        <div class="team-info">
	                            <h3>Jay Patel</h3>
								<h6>项目经理</h6>
								<ul class="social-icons list-inline list-unstyled"> 
								<li><a href="https://twitter.com/jaypatel299" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li> 								
								<li><a href="https://www.linkedin.com/in/jaypatel299/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
							</ul>
	                        </div>
	                        <p class="mb20">来自印度的BlockChain技术最佳项目经理之一</p>
	                        
	                    </div>
	                </div>
					<div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
	                    <div class="team-member ">
	                        <div class="team-img">
	                            <img class="img-responsive center-block" src="main/images/tanisha.jpg" alt="">
	                        </div>
	                        <div class="team-info">
	                            <h3>Tanisha Mukherjee</h3>
								<h6>内容作家</h6>
								<ul class="social-icons list-inline list-unstyled">
								<li><a href="https://twitter.com/TanishaMBlog" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li> 								
								<li><a href="https://www.linkedin.com/in/tanisha-mukherjee-77720b16b/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
	                        </ul>
	                        </div>
	                        <p class="mb20">CNN, Reuter 实习生, TechOptimals营销副总裁
							</p>	                        
	                    </div>
	                </div>		        
    		</div>
			<div class="row">
		     	<div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/palazzo.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Giorgia Palazzo</h3>
							<h6>首席营销官</h6>
							 <ul class="social-icons list-inline list-unstyled"> 
							<li><a href="https://twitter.com/giorgiapalace" target="blank"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/giorgia-palazzo-a4112142/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">超过15年的数字和技术经验。与众多全球品牌合作，包括华纳兄弟，戴尔，瑞安航空，索尼PlayStation Tim等等。 Giorgia还在引导代币销售项目和投资者方面拥有实践经验。</p>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/mingazzini.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Luca Mingazzini</h3>
							<h6>SMM Manager</h6>
							 <ul class="social-icons list-inline list-unstyled">
							<li><a href="https://www.linkedin.com/in/luca-mingazzini-b4978b12b/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">由结果驱动的数字项目经理，在为全球品牌提供社交媒体活动和内容项目方面拥有丰富的经验。在数字营销领域工作了6年多</p>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/marco.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Marco Stefani</h3>
							<h6>社区和项目管理</h6>
							<ul class="social-icons list-inline list-unstyled">                                                       
                            <li><a href="https://www.linkedin.com/in/marco-stefani-260a93a3/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">Marco是一位经验丰富的社区经理，曾为多个区块链项目工作，并且是社区参与方面的专家
						</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  col-xs-12">
                    <div class="team-member ">
                        <div class="team-img">
                            <img class="img-responsive center-block" src="main/images/alice.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Alice Lottici</h3>
							<h6>内容和社区</h6>
							<ul class="social-icons list-inline list-unstyled">
                                                        
                            <li><a href="https://www.linkedin.com/in/alice-lottici-271a508a/" target="blank"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul>
                        </div>
                        <p class="mb20">作为技术营销专业人士，她是一位富有创造力的讲故事者，能够找到与主要利益相</p>
                        
                    </div>
                </div>		        
    		</div>
		</div>
    </section>
	<!--======================================= 
    ==End team section==  
    =======================================-->


	<!-- ======================================= 
    ==Start footer section==  
    =======================================-->
    <section class="main-footer footer-style-two text-center" id="contact">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="container">
                 
                <div class="row clearfix">
                   <!--Footer Column-->
                   <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                      <div class="footer-widget about-widget">
                         <h3 class="has-line-center">关于 LTR</h3>
                         <div class="widget-content">
                            <div class="text">LTR Token - 全球彩票服务</div>
                               <ul class="social-links">
                                  <li><a href="https://www.facebook.com/Lotter-240015133499302/" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                                  <li><a href="https://twitter.com/CoinLotter" target="_blank"><span class="fa fa-twitter" ></span></a></li>
                                  <li><a href="https://plus.google.com/113111822566205427534" target="_blank"><span class="fa fa-google-plus" ></span></a></li>
                                  <li><a href="https://www.linkedin.com/company/lotter-coin/" target="_blank"><span class="fa fa-linkedin" ></span></a></li>
                                  <li><a href="https://www.instagram.com/lotter_coin/" target="_blank"><span class="fa fa-instagram" ></span></a></li>
								  
                               </ul>
							   <ul class="social-links">
								  <li><a href="https://www.quora.com/profile/Lotter-Coin" target="_blank"><span class="fa fa-quora" ></span></a></li>
								  <li><a href="https://www.reddit.com/user/Lotter_Coin" target="_blank"><span class="fa fa-reddit" ></span></a></li>
								  <li><a href="https://medium.com/@tokenltr" target="_blank"><span class="fa fa-medium" ></span></a></li>
								  <li><a href="https://t.me/LotterOfficial" target="_blank"><span class="fa fa-telegram" ></span></a></li>
							    </ul>
                             </div>
                         </div>
                     </div><!--End Footer Column-->
                     
                     <!--Footer Column-->
                     <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                         <div class="footer-widget contact-widget">
                             <h3 class="has-line-center">联系我们</h3>
                             <div class="widget-content">
                                 <ul class="contact-info">
                                     <li><div class="icon"><span class="ui-computer-screen-2"></span></div></li>
                                     <li>LTRCoin.Com由LTR TECH LIMITED运营，其注册地址为Tera Building, 87 Wing Lok Street, Hong Kong</li>                                     
                                     <li>admin@ltrcoin.com</li>
                                 </ul>
                             </div>
                         </div>
                     </div><!--End Footer Column-->
                     
                     <!--Footer Column-->
                     <div class="footer-column col-md-4 col-sm-12 col-xs-12">
                         <div class="footer-widget newsletter-widget">
                             <h3 class="has-line-center">开始开始</h3>
                             <div class="buy-tokens-wrapper text-center mt30 o-hidden">
			                        	<a href="/buyico" class="buy-tokens has-gradient">购买 LTR 令牌</a>
			                        </div>
                         </div>
                     </div><!--End Footer Column-->
                     
                 </div>
             </div>
         </div>
        
        </section>
        <!-- ======================================= 
        ==End footer section==  
        =======================================-->



		<div class="copyright">
		    <h4 class="text-center"> Copyright © 2018. All rights reserved.</h4>
		</div>

		<!-- pre loader  -->
		<div class="preloader"></div>

		<a class="btn-lg scrollup"><i class="fa fa-arrow-up"></i></a>

		<!-- <script src="/main/js/jquery.min.js"></script>-->
		<script src="/main/js/popper.min.js"></script>

		<script src="/main/js/bootstrap.min.js"></script>

		<script src="/main/js/jquery.vide.min.js"></script>
		<script src="/main/js/jquery.magnific-popup.min.js"></script>
		<script src="/main/js/flipclock.min.js"></script>

		<!-- HighCharts -->
        <script src="/main/js/highcharts.js"></script>
        <script src="/main/js/create-highcarts.js"></script>

		<script src="/main/js/jquery.waypoints.js"></script>
		<script src="/main/js/wow.js"></script>

		<script src="/main/js/modernizr-custom.js"></script>

		<script src="/main/js/custom.js"></script>
	</body>

</html>
