<html>
    <header>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="Crypto ICO admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
        <meta name="keywords" content="admin template, crypto ico admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
        <meta name="author" content="PIXINVENT">
        <title>Terms of use - LTR ICO - Lottery Services Global</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </header>
<body>
    <div class="container">
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;"><img style="float: left;" src="https://ltrcoin.com/img/logo_260x262.png" alt="" width="88" height="101" /></span></strong></p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">TOKEN SALE TERMS AND CONDITIONS</span></strong></p>
        <br/>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">The following Terms and Conditions ("Terms") govern your (&ldquo;you&rdquo; or the &ldquo;Purchaser&rdquo;) purchase of cryptographic tokens ("LTR") from LtrCoin, an exempted company registered in the Hong Kong, LTR Tech Limited (the &ldquo;Company&rdquo;). Each of you and the Company is a &ldquo;Party&rdquo; and, together, the &ldquo;Parties&rdquo; to these Terms. This document is not a solicitation for investment and does not pertain in any way to an offering of securities in any jurisdiction. This document describes the LTR token sale.</p>
        <p>&nbsp;</p>
        <p style="text-align: justify;">IF YOU DO NOT AGREE TO THESE TERMS, DO NOT PURCHASE LTR TOKEN. BY PURCHASING LTR TOKEN, YOU WILL BE AGREE BY THESE TERMS AND ANY TERMS INCORPORATED BY REFERENCE. IF YOU HAVE ANY QUESTIONS REGARDING THESE TERMS, PLEASE CONTACT THE COMPANY AT admin@ltrcoin.com.</p>
        <p>&nbsp;</p>
        <p style="text-align: justify;">By purchasing LTR, and to the extent permitted by law, you are agreeing not to hold any of the the Company and its respective past, present and future employees, officers, directors, contractors, consultants, equity holders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (the &ldquo;LTR Team&rdquo;) liable for any losses or any special, incidental, or consequential damages arising from, or in any way connected, to the sale of LTR, including losses associated with the terms set forth below.</p>
        <p style="text-align: justify;">DO NOT PURCHASE LTR IF YOU ARE NOT AN EXPERT IN DEALING WITH CRYPTOGRAPHIC TOKENS AND BLOCKCHAIN-BASED SOFTWARE SYSTEMS. PRIOR TO PURCHASING LTR, YOU SHOULD CAREFULLY CONSIDER THE TERMS LISTED BELOW AND, TO THE EXTENT NECESSARY, CONSULT AN APPROPRIATE LAWYER, ACCOUNTANT, OR TAX PROFESSIONAL. IF ANY OF THE FOLLOWING TERMS ARE UNACCEPTABLE TO YOU, YOU SHOULD NOT PURCHASE LTR.</p>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">CONDITIONS TO LTR TOKEN SALE</span></strong></p>
        <p>&nbsp;</p>
        <p>When you purchase, or otherwise receive, a LTR token, you may only do so by accepting the following conditions:</p>
        <ul>
        <li style="text-align: justify;">you are legally permitted to receive and hold and make use of LTR in your and any other relevant jurisdiction;</li>
        <li style="text-align: justify;">you will supply us with all information, documentation or copy documentation that we require in order to allow us to accept your purchase of LTR and allocate LTR to you;</li>
        <li style="text-align: justify;">you will provide us with any additional information which may be reasonably required in order that we can fulfil our legal, regulatory and contractual obligations, including but not limited to any anti-money laundering obligation;</li>
        <li style="text-align: justify;">you will notify us promptly of any change to the information supplied by you to us;</li>
        <li style="text-align: justify;">you are of a sufficient age (if an individual) to legally obtain LTR, and you are not aware of any other legal reason to prevent you from obtaining LTR;</li>
        <li style="text-align: justify;">you take sole responsibility for any restrictions and risks associated with receiving and holding LTR, including but not limited to these set out in Annex A;</li>
        <li style="text-align: justify;">by acquiring LTR, you are not making a regulated investment, as this term may be interpreted by the regulator in your jurisdiction;</li>
        <li style="text-align: justify;">you waive any right you may have / obtain to participate in a class action lawsuit or a class wide arbitration against any entity or individual involved with the sale of LTR;</li>
        <li style="text-align: justify;">your acquisition of LTR not involve your purchase or receipt of shares, ownership or any equivalent in any existing or future public or private company, corporation or other entity in any jurisdiction;</li>
        <li style="text-align: justify;">to the extent permitted by law and provided we act in good faith, the Company makes no warranty whatsoever, either expressed or implied, regarding the future success of LTR and/or the Ethereum Network;</li>
        <li style="text-align: justify;">you accept that LTR is created and you obtain LTR on an &ldquo;as is&rdquo; and &ldquo;under development&rdquo; basis. Therefore, provided the Company acts in good faith, you accept that the Company is providing LTR without being able to provide any warranties in relation to LTR, including, but not limited to, title, merchantability or fitness for a particular purpose;</li>
        <li style="text-align: justify;">you accept that you bear sole responsibility for determining if (i) the acquisition, the allocation, use or ownership of LTR (ii) the potential appreciation or depreciation in the value of LTR over time, if any, (iii) the sale and purchase of LTR; and/or (iv) any other action or transaction related to LTR has tax implications.</li>
        </ul>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">AFTER THE LTR TOKEN SALE</span></strong></p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">The Purchasers should have no expectation of influence over governance of the Company.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Upon the conclusion of a successful LTR sale, the digital assets backing each LTR token will be transparently purchased.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">The Company will provide you with an official and regular audit conducted on the existence of the digital assets backing each LTR token. Through this audit, you can track and confirm that the digital assets backing your LTR have been received and acquired. Access to the audit results does not constitute a LTR purchase receipt or indicate in any way that the party possessing such access has rights to or ownership of the purchased LTR tokens.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Prior to a Purchaser selling LTR after the LTR token sale completion, such Purchaser shall ensure that the buyer of any such LTR undertakes to comply with all the provisions of these Terms as if such person were a Purchaser in the LTR token sale.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">ALL PURCHASES OF LTR ARE FINAL</span></strong></p>
        <p>&nbsp;</p>
        <p style="text-align: justify;">All purchases of LTR are final. purchases of LTR are non-refundable. by purchasing LTR, the purchaser acknowledges that neither the company nor any of its affiliates, directors or sharehodelrs are required to provide a refund for any reason.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">if the company believes, in its sole discretion, that any individuals or entities owning LTR creates material regulatory or other legal risks or adverse effects for the company and/or LTR, the company reserves the right to: (a) buy all LTR from such ltr owners at the then-existing market price and/or (b) sell all cryptocurrency assets of the company.</p>
        <p>&nbsp;</p>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">Taxation of LTR and Taxation Related to the ICO</span></strong></p>
        <p>&nbsp;</p>
        <p style="text-align: justify;">The Purchaser bears the sole responsibility to determine if the purchase of LTR with BTC, ETH or the potential appreciation or depreciation in the value of LTR over time has tax implications for the Purchaser in the Purchaser's home jurisdiction. By purchasing LTR, and to the extent permitted by law, the Purchaser agrees not to hold any of the Company, its affiliates, shareholders, director, or advisors liable for any tax liability associated with or arising from the purchase of LTR.</p>
        <p>&nbsp;</p>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">PRIVACY</span></strong></p>
        <p>&nbsp;</p>
        <p>The Purchasers may be contacted by email by the Company. Such emails will be informational only. The Company will not request any information from Purchasers in an email. See our Privacy Policy available on the Website for additional information</p>
        <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 115%;">FORCE MAJEURE</span></strong></p>
        <p style="text-align: justify;">The LTRCOIN Team is not liable for failure to perform solely caused by:</p>
        <ul style="text-align: justify;">
        <li>unavoidable casualty,</li>
        <li>delays in delivery of materials,</li>
        <li>embargoes,</li>
        <li>government orders,</li>
        <li>acts of civil or military authorities,</li>
        <li>acts by common carriers,</li>
        <li>emergency conditions (including weather conditions),</li>
        <li>security issues arising from the technology used,</li>
        </ul>
        <p style="text-align: justify;">or any similar unforeseen event that renders performance commercially implausible. If an event of force majeure occurs, the party injured by the other's inability to perform may elect to suspend the Terms, in whole or part, for the duration of the force majeure circumstances. The party experiencing the force majeure circumstances shall cooperate with and assist the injured party in all reasonable ways to minimize the impact of force majeure on the injured party.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: center;"><span style="font-size: 18.0pt; line-height: 115%;">DISCLAIMER OF WARRANTIES</span></p>
        <p>&nbsp;</p>
        <p style="text-align: justify;">The purchaser expressly agrees that the purchaser is purchasing LTR at the purchaser's sole risk and that LTR is provided on an "as is" basis without warranties of any kind, either express or implied, including, but not limited to, warranties of title or implied warranties, merchantability or fitness for a particular purpose (except only to the extent prohibited under applicable law with any legally required warranty period to the shorter of thirty days from first use or the minimum period required). without limiting the foregoing, none of the LTRCOIN team warrants that the process for purchasing LTR will be uninterrupted or error-free.</p>
        </div>
</body>
</html>